
<section class="page-header">
    <div class="container">
        <h1>Satzung der Bürgerenergie Westsachsen eG i.G.</h1>
    </div>
</section>
<section class="page-section" style="margin-top: 0.5rem;">
    <div class="container">
      {{ .Content }}

      <h3>Aktuelle Satzung</h3>
      <div style="text-align: center;"> 
      <a href="/files/Satzung-BEW-Stand-17-06-2025.pdf" class="btn btn-primary btn-large">Satzung mit Stand vom 17.06.2025 herrunterladen</a>
      </div>

      <div style="margin-top: 1rem; text-align: center;">
      <p>Zur Gründungsversammlung am 17.06.2025 in Glauchau, Markt 19 unterschrieben folgende Gründungsmitglieder diese Satzung:</p>

      </div>
      <div style="display: flex; justify-content: space-around; margin-bottom: 2rem;">
          <div>
            <ul>
                <li>Patrick Simmel</li>
                <li>Kerstin Eckert</li>
                <li>Jürgen Dicks</li>
                <li>Georg Frischmann</li>
                <li>Markus Keil</li>
            </ul>
          </div>
          <div>
            <ul>
                <li>Gerhard Sonntag</li>
                <li>Arne Kesten</li>
                <li>Daniel Brehm</li>
                <li>Friedmann Bauer</li>
                <li>Michael Höhne</li>
            </ul>
          </div>
          <div>
            <ul>
                <li>Thomas Bergbauer</li>
                <li>Sven Salzmann</li>
                <li>Tobias Bärwald</li>
                <li>Mandy Bauch</li>
                <li>Helmut Berner</li>
            </ul>
          </div>
      </div>
    </div>
</section>

